@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: Poppins;
    background-color: #ffffff;
}

.logo {
    height: 50px;
    width: 50px;
}

a {
    color: black;
}

/* NAVBAR STYLING */
.nav-item {
    display: flex;
    background-color: #b9d9eb;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: #353e43;
    padding: 20px;
    gap: 20px;
    flex-direction: row;
}

/* FEATURED PHOTO STYLING */
.header-section {
    background-color: #ffffff;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.featured-photo {
    height: 800px;
    width: 600px;
    border: 3px solid #353e43;
    border-radius: 50px;
}

/* PREVIOUS PROJECTS */
.project-container {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.project-card {
    width: 260px;
    padding: 20px;
    background-color: #b9d9eb;
    border: 3pxx solid #353e43;
    border-radius: 50px;
}